<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8" />
	<title>Emap-html5</title>
	<link rel="stylesheet" href="http://127.0.0.1:8080/arcgis_js_api/library/3.5/3.5/js/esri/css/esri.css" />
	<link rel="stylesheet" href="http://127.0.0.1:8080/arcgis_js_api/library/3.5/3.5/js/dojo/dijit/themes/claro/claro.css" />
</head>
<body>
	<body class="claro">
		<div id="mapDiv"></div>
	</body>
	
	<script src="http://127.0.0.1:8080/arcgis_js_api/library/3.5/3.5/init.js"></script>
	<script src="../static/js/create-the-first-map.js"></script>
</body>
</html>